{% assign _blocks = section.blocks %}

{{- 'icon-text.css' | asset_url | stylesheet_tag -}}

{% if _blocks.size > 0 %}
  <section class="icon-text">
    <div class="container">
      <ul>
        {% for block in _blocks %}
          {% assign _block = block.settings %}

          {% if _block.icon != blank or _block.text != blank %}
            <li>
              {% if _block.icon != blank %}
                {{ _block.icon }}
              {% endif %}
              
              {% if _block.text != blank %}
                <p>{{ _block.text }}</p>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div><!-- /.container -->
  </section><!-- /.icon-text -->
{% endif %}

{% schema %}
  {
  "name": "Icon and Text",
  "settings": [],
  "blocks": [
    {
      "name": "List",
      "type": "list",
      "settings": [
        {
          "type": "html",
          "id": "icon",
          "label": "Icon ",
          "info": "Font Awesome - Tag"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon and Text"
    }
  ]
}  
{% endschema %}