.section-categories {
  padding: 4rem 0;
}

.section-categories h2 {
  display: inline-block;
  position: relative;
  text-shadow: var(--text-shadow);
  margin: 0;
}

.section-categories h2 span {
  position: absolute;
  top: -1.2rem;
  right: -2.2rem;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--tag-primary);
  border-radius: 1rem 1rem 1rem 0;
  box-shadow: var(--box-shadow);
  padding: 0.4rem .5rem .3rem;
}

.section-categories h2 i {
  font-size: 1.8rem;
}

.section-categories .section__head {
  margin-bottom: 4rem;
}

/* Body */

.section-categories .section__body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
}

.section-categories .section__body ul li {
  flex: 1;
}

.section-categories .section__body ul li a {
  text-decoration: none;
  display: block;
  height: 100%;
}

/* Tablet */
@media (max-width: 1023px) {
  .section-categories .section__body ul {
    grid-template-columns: repeat(2, 1fr);
  }
}