.hero {
  
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  vertical-align: top;
}

.hero .hero__image {
  position: relative;
  min-height: 23rem;
  overflow: hidden;
  border-radius: 1.6rem;
}

.hero .hero__inner {
  padding: 2rem;
  background-color: white;
  border-radius: 1.6rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.hero .hero__head {
  text-align: center;
}

/* Mobile */
@media (max-width: 767px) {
  
}
