.newsletter-popup {
  --border-radius: var(--product-card-corner-radius);
  z-index: 33;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  max-width: 40rem;
  width: 100%;
  padding: 2rem;
  transform: translateX(0);
  transition: .3s;
}

.newsletter-popup.hide {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.newsletter-popup img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  vertical-align: top;
}

.newsletter-popup .newsletter-popup__image {
  position: relative;
  min-height: 22.5rem;
}

.newsletter-popup svg {
  width: 2rem;
}

.newsletter-popup .newsletter-popup__inner {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.newsletter-popup .newsletter-popup__close {
 position: absolute;
 top: 2rem;
 right: 2rem;
 width: 4.4rem;
 height: 4.4rem;
 z-index: 1;
 background-color: inherit;
 border-radius: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 transition: .3s;
}

.newsletter-popup .newsletter-popup__close:hover {
  filter: invert(1);
  transform: scale(1.05);
}

.newsletter-popup .newsletter-popup__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.newsletter-popup .newsletter-popup__grid .grid__item {
  width: 100%;
  max-width: 100%;
}

.newsletter-popup .newsletter-popup__grid .grid__item:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 1;
}

/* Content */

.newsletter-popup .newsletter-popup__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}

.newsletter-popup .newsletter-popup__content h3 {
  margin: 2rem 0 0;
  width: 100%;
}

/* Mobile */
@media (max-width: 767px) {
  .newsletter-popup {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}