.section-newsletter {
  padding: 4rem 0;
}

.section-newsletter h2 {
  font-size: 3rem;
  max-width: 60%;
  text-shadow: var(--text-shadow);
  margin: 0 auto 2rem;
}

.section-newsletter .section__head {
  text-align: center;
  margin-bottom: 2rem;
}

.section-newsletter .section__head i {
  font-size: 2.4rem;
  text-shadow: var(--text-shadow);
  color: var(--btn-primary);
}

/* Form */

.section-newsletter .section__newsletter-form {
  max-width: 60rem;
  margin: 0 auto;
}

.section-newsletter .section__newsletter-form .contact__fields {
  margin-bottom: 2rem;
  max-width: 40%;
}

.section-newsletter .section__newsletter-form .field:after {
  border-radius: 2rem 2rem 0 2rem;
  border: 1px solid var(--color-black);
  opacity: 1;
}

.section-newsletter .section__newsletter-form .field__input {
  border-radius: 2rem 2rem 0 2rem;
  color: var(--color-white);
  background-color: var(--color-black);
  box-shadow: var(--box-shadow);
}

.section-newsletter .section__newsletter-form .field__label {
  color: var(--color-white);
}

.section-newsletter .section__newsletter-form .contact__button {
  text-align: right;
  margin-top: 2rem;
}

.section-newsletter .section__newsletter-form .contact__button button {
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  padding: 0 2rem;
}

.section-newsletter .section__newsletter-form .contact__button button i {
  margin-left: 1rem;
}

.section-newsletter .section__newsletter-form .contact__button button:after {
  border-radius: 2rem;
}

/* Mobile */
@media (max-width: 767px) {
  .section-newsletter h2 {
    max-width: 100%;
  }

  .section-newsletter .section__newsletter-form .contact__fields {
    max-width: 100%;
  }
}